---
// @ts-nocheck
import CollapsibleCard from '@/shared/components/CollapsibleCard.astro';
import LoginConfig from './components/LoginConfig.astro';
import ServerStatus from './components/ServerStatus.astro';
import AccessInfo from './components/AccessInfo.astro';
import LogsDisplay from './components/LogsDisplay.astro';

interface Props {
  collapsed?: boolean;
}

const { collapsed = false } = Astro.props;
---

<CollapsibleCard 
  id="rc-login-card"
  title="RC登录页面发布"
  description="发布DJI遥控器登录页面到局域网"
  icon="wifi"
  statusText="未启动"
  statusType="info"
  collapsed={collapsed}
>
  <div class="space-y-6">
    <LoginConfig />
    <ServerStatus />
    <AccessInfo />
    <LogsDisplay />
  </div>
</CollapsibleCard>

<script type="module" src="./services/rcLoginManager.js"></script>
